<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   
   <form method="GET" action="/newteam">
     <p>Team name <input type="text" name="Team name"></p>
     <p>Coach <input type="text" name="coach"></p>
     <p>Point Guard <input type="text" name="pg"></p>
     <p>Te<input ype="text" name="Team name"></p>
   </form>
 </body>
</html>


